/* 
    Title: Extend/Override style.css
    Date Created: 30 Mar 2019
    Author: Modified by: https://github.com/dresdain
*/

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import "_variables";
@import "_functions";
@import "_mixins";
@import "_general";

$primary : #ff680d;
$secondary : #0BBBE6;
$accent : #03345C;


/* General */
body {
  background-image: linear-gradient(
    to right,
    #0d4168,
    #0b3e66,
    #093b63,
    #073961,
    #05365e
  );
  font-family: 'Montserrat', sans-serif;
}
.wrapper_container {
  background: transparent;
  @include ii-tablet {
    background-color: #fff;
  }
}
.content{
  margin-bottom: 0px;
  
}
.content > .container {
  background-color: #fff; 
  padding-bottom: 40px;
}
.disabled {
  color: gray !important;
  &:hover {
    cursor: not-allowed;
    color: gray !important;
  }
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
.container{
     @include oo-tablet {
      padding-left: 30px;
      padding-right: 30px;
  }
    @include ii-tablet(){
        width: 100%;
    }
}

/* Menu + FOOTER*/
.header-flex{
  display: flex;
  align-items: center;
  @include mobile{
      flex-direction: column;
    }
  > *{
    width: 100%;
    &:last-child{
      text-align: right;
      img{  
        @include ii-tablet{
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    } 
  }
}
.header[class*="header_"], footer.footer {
  background-color: transparent;
}
[class*="header_"] .h_top_part {
  border-bottom: 0px solid transparent;
  > .container {
    background-color: #000;
  }
}
.h_bot_part {
  padding: 0px 0px;
  @include ii-tablet {
    padding: 0px 0px 40px 0px;
    background-color: #272727;
  }
  > .container {
    background-color: #272727;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* FOOTER */
  &.footer_part{
    > .container{
      border-top: 20px solid $primary;
    }
  }
}
.footer .footer_top_part{
  padding-bottom: 0px;
}
.footer .logo{
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer .footer_bottom_part{
  border-top: 0px solid transparent;
  padding: 0px;
  > .container{
    padding: 10px 30px;
    background-color: #404040;
  }
}

[class*="header_"] .menu_wrap {
  > .container {
    background-color: #393e44 !important;
  }
}
.main_menu.menu_var2 {
  width: calc(100% - 37px);
  @include ii-tablet() {
    width: 100%;
  }
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include ii-tablet() {
      flex-direction: column;
      padding: 0px 0px;
    }
    li:hover {
      border-bottom: 0px solid #ff680d;
      background-color: #ff680d;
      a {
        color: #fff;
        background-color: #ff680d;
      }
    }
    li {
      @include ii-tablet() {
        padding: 0px 15px;
      }
    }
    li > a {
      border-bottom: 2px solid transparent !important;
    }
  }
}

/* Forms */
.searchform_wrap form {
  @include ii-tablet {
    margin: 20px 15px;
    margin-top: -0px;
  }
}
[class*="header_"] .searchform_wrap{
    background: transparent;
    > .container{
        background: #383e44;
    }
}

/* Block : half */
.half_column {
  &.image-card {
    padding-top: 50px !important;
    position: relative;
    &:before {
      position: absolute;
      content: " ";
      width: calc(100% - 5px);
      height: 30px;
      top: 0px;
      left: 0px;
      @include ii-tablet {
        width: 100%;
      }
    }
    &:nth-child(even):before {
      left: unset;
      right: 0px;
    }
    &.blue:before {
      background-color: $secondary;
    }
    &.orange:before {
      background-color: $primary;
    }
  }
}

/* Block: thirds */
.one_third_column{
    position: relative; 
}
.banner-title{
    position: absolute;
    z-index: 140;
    pointer-events: none;
    top: 20px;
    left: 20px;
        max-width: calc(100% - 40px);
        word-break: break-word;
}
.scale_image_container{
  position: relative;
  margin-bottom: 30px;
  &.favoritos-thumb{
        max-width: 160px;
    float: left;
    margin-right: 15px;
    @media (max-width: 655px){
      max-width: 100%;
      
    }
    &.full{
      max-width: 100%;
    }
  }
  &.push{
    margin-top: 28px;
  }
  &.scale_285{
    max-height: 285px;
  }
  @include mobile{
    float: unset !important;
    margin-bottom: 20px;
  }
  .text-top, .text-bottom{
    position: absolute;  
    left: 20px;
    width: calc(100% - 40px);
    max-height: 50%;
    z-index: 100;
    pointer-events: none;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
  }
  .text-top{
    top: 15px;
  }
  .text-bottom{
    bottom: 10px;
  }
  .center-play{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    opacity: 0.5;
    will-change: transform;
    transition: 0.4s ease-in-out;
    pointer-events: none;
    color: #000;
    overflow: hidden;
  }
  &:hover .center-play{ 
    transform: scale(1.3) translateY(-20px);
    // z-index: 200;
    color: $primary;
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
  }

}
 
.form_type_1 .control-group.form-elements label:last-child{
  margin-left: 0px;
}

.text-big{
  font-size: 25px; 
  line-height: 100%;
}


.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-uppercase{
  text-transform: uppercase !important;
}

.text-light{
  color: #FFF;
}
.text-dark{
  color: #000;
}

.scale_width_250{
  max-width: 250px !important;
}

.caption{
  margin-bottom: 20px;
}

.scale_image{
  @include ii-tablet{
    width: 100%;
  }
}
.xs-flex-list{
  @include ii-tablet(){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > li{
      width: calc(90% / 3);
      @include mobile{
        width: 100%;
      } 
    }
  }
}

/* Labels */
.button {
  &.banner_button{
      font-weight: bold;
  }
  &.orange {
    background-color: $primary;
  }
  &.blue{
    background-color: $secondary;  
  }
}

.text-primary{ 
    color: $primary !important;
}
.text-accent{
    color: $accent !important;
}

.text-secondary{
    color: $secondary !important;
}

.section_title{
  font-weight: bold;
      // font-family: 'Roboto', 'sans-serif';
}

/* Social MEdia lIst */
.social_media_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 6px;
  @include tablet{
    justify-content: space-between; 
    padding: 0px 0px; 
  }
  li{
    width: calc(85% / 3);
    transform: scale(0.9);
    @media (max-width: 1190px){
      transform: scale(0.8);
    }
    @include tablet{
      transform: scale(0.8);
      width: calc(100% / 3);
    }
    float: unset;
    margin: unset;
    margin-bottom: 10px;
    > a{
        width: 100%;
      }
  }
}


/* Helpers */
.xs-full-width{
  @include tablet{
    width: 100%;
  }
}

.m-push{
    margin-top: 28px;
  }

.one_third_column{
  @media only screen and (max-width: 992px){
    width: calc(100% / 3);
  }
  @include mobile{
    width: 100%;
  }
}

.btn-custom{
  margin-top: 20px;
  margin-bottom: 20px;
}


.tabs.standalone{
  margin-bottom: 20px;
}

.smaller{
  font-size: 12px;
}

.caption_type_1.scale_less{
  * {
    color: #FFF;
  }
}

.go-to-top{
  top: unset;
  bottom: 50px;
}



/* Music Player by Rafel Fontes Goncalves  https://codepen.io/Calino/pen/bpqXRo*/

.music-player {
    display: block;
    position: relative;
    // width: 400px;s
    width: 100%;
    height: 650px;
    margin: auto;
    margin-top: 6%;
    border-radius:10px;
    background: transparent linear-gradient(to bottom,rgba(10,11,31,0.9) 50%,rgb(10,11,31) 70%) repeat scroll 0 0;
    box-shadow: 1px 10px 20px 5px #22222205
}

.cover {
    float: left;
    width: 100%;
    height: 400px; 
}

.cover img {
    display: block;
    position: absolute;
    top: 8%;
    left: 12%;
    width: 280px;
    margin: auto;
    text-align: center;
}

.titre {
    float: left;
    width: 100%;
    padding: 0 10%;
    h3{
      color: #FFF;
    }
    h1{
      color: #FFF;
    }
}

.lecteur {
    float: left;
    width: 100%;
}

.mejs-controls {
    padding: 0 10%;
}

.mejs-container {
    position: relative;
}

.mejs-playpause-button {
    position: absolute !important;
    right: 8%;
    bottom: 95%;
}

.mejs-playpause-button button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 23px;
    color: #cf5da3;
    background: transparent;
}

.mejs-volume-button button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 20px;
    color: #5bbb95;
    background: transparent;
}

.mejs-play button:before {
    content: "\f04b";
}

.mejs-controls .mejs-pause button:before {
    content: "\f04c";
}

.mejs-controls .mejs-stop button:before {
    content: "\f04d";
}

.mejs-controls .mejs-mute button:before {
    content: "\f028";
}

.mejs-controls .mejs-unmute button:before {
    content: "\f026";
}

.mejs-container .mejs-controls .mejs-time {
    width: 100%;
    margin-top: 7%;
    margin-bottom: 3%;
    color: #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: rgba(255,255,255,0.2);
}

.mejs-container .mejs-controls .mejs-time span {
    font-size: 15px;
}

.mejs-controls div.mejs-time-rail {
}

.mejs-container .mejs-controls div {
    display: block;
    float: left;
    position: relative;
    width: 40px;
}

span.mejs-duration {
    float: right;
    text-align: right;
    color: #ccc;
}

span.mejs-currenttime {
    font-weight: 700;
}

.mejs-controls .mejs-time-rail span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    cursor: pointer;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #5BBB95 none repeat scroll 0 0;
}

.mejs-controls .mejs-volume-button {
    position: relative;
    position: absolute !important;
    top: 70px;
    right: 25%;
    width: 40px;
    height: 40px;
}

.mejs-controls div.mejs-horizontal-volume-slider {
    display: block;
    position: absolute !important;
    position: relative;
    top: 70px;
    right: 10%;
    width: 60px;
    height: 3px;
    margin-top: 20px;
    border-radius: 50px;
    line-height: 11px;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
    display: none;
    top: -40px;
    width: 40px;
    height: 25px;
    margin-left: -18px;
    text-align: center;
    font-size: 10px;
    background: #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
    display: block;
    position: relative;
    top: 0;
    margin: 0;
    line-height: 26px;
    color: #100d28;
}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
    top: auto;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -6px;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #fff;
}


// 
.vertical-text-wrapper{
  min-height: 600px;
    position: relative;
    overflow: hidden;
    @media (max-width: 768px){
      min-height: unset;
    }
}
.vertical-text{
      width: 600px;
    position: absolute;
    transform: rotate(270deg);
    bottom: -60px;
    left: 0px;
    transform-origin: top left;
    text-align: right;
    font-size: 30px;
    @media (max-width: 768px){
      transform: rotate(0deg);
      position: relative;
      bottom: 0px;
      left: 0px;
      font-size: 15px;
      text-align: left
    }
}


.searchform_wrap{
  form{
    width: 100%;
  }
  input:not([type="submit"]), textarea{
    width: 100%;;
    margin-top: 3px;
    background: transparent;
    border-color: transparent
  }
}


.fav{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 40px;
  background:{
    size: contain;
    repeat: no-repeat;
    position: center center;
  }
  pointer-events: none;
}

$icons: belleza, clubs, licor, media, restaurant, ropa, salud, supermercados;

@each $icon in $icons{
  .fav-#{$icon}{
     background-image: url('../favoritos/#{$icon}.png');
  }
}


 